body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    padding-bottom: 40px;
    color: #5a5a5a;
}

.navbar-margin {
    margin-top: 75px;
}

.navbar-margin-sm {
	margin-top: 45px;
}

h2 {
    font-size: 40px;
    padding-bottom: 5px;
}

blockquote {
    background-color: #ccc;
    margin-top: 0;
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.divider {
    margin: 50px 0;
}

.information {
    padding-top: 50px;
}

.information h2 {
    font-weight: normal;
}

/* MOBILE */
@media (max-width: 970px) {

    blockquote {
        margin-top: 50px;
    }
    .divider {
        margin: 10px 0;
    }
    .information {
        padding-top: 0;
    }
}

vr {
    margin: 0 auto;
    height: 200px;
    border: 0;
    border-left: 1px solid #cccccc;
    display: inline-block;
    vertical-align: bottom;
}

.video-margin {
	margin-bottom: 2em;
}

.video-title {
	margin-top: 5px;
}


.play {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

.play a {
    opacity: 1; /* added */
    top: 0; /* added */
    z-index: 500;
    color: inherit;
}
/* added */
.play span {
    top: 50%;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/* added */
/*.play a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

.text-error {
    color: #a94442;
    font-weight: 400;
    font-size: 14px;
}
